@model List<Project_Tracking_Tool_MVC.Models.DomainModel.Project>
@{
}

<SideMain>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px; background-color: black">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
           asp-controller="AdminDashboard" asp-action="AdminDashboard">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Admin Dashboard</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link dashboard-link" aria-current="page" id="profileLink" style="color:white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link dashboard-link" id="managersLink" style="color:white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                    Manage Managers
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link dashboard-link" id="addProjectLink" style="color:white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table" /></svg>
                    Add Projects
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link dashboard-link" id="assignProjectLink" style="color:white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                    Assign Projects
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="container-md p-0 mx-auto">
        <div class="col-lg-10 m-2 mx-auto" id="commonDisplayArea">
            <div class="container bg-secondary p-1">
                <h2 class="m-2">Admin Dashboard</h2>
            </div>
            <div class="container py-5 px-3 border my-5">
                <div class="container py-3">
                    <h3 class="mb-3 text-center">All Projects</h3>
                    @if (Model != null && Model.Any())
                    {
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Description</th>
                                    <th>Date Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        <td>@project.ProjectTitle</td>
                                        <td>@project.ProjectDescription</td>
                                        <td>@project.ProjectCreationDate</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-dark">
                                                <a id="editProjectLink" class="text-white"
                                                   asp-area=""
                                                   asp-controller="AdminDashboard"
                                                   asp-action="EditProjectFormPartial"
                                                   asp-route-id="@project.ProjectId"
                                                   data-project-id="@project.ProjectId">Edit</a>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="text-center">No Projects found! Add Projects?</p>
                    }
                </div>
            </div>
        </div>
    </div>


</SideMain>

@section Scripts {
    <script>
        $(document).ready(function () {

            $(document).on('click', '#editProjectLink', function (e) {
                e.preventDefault();

                var projectId = $(this).data('projectId');

                $.ajax({
                    url: '/AdminDashboard/EditProjectFormPartial',
                    type: 'GET',
                    data: { id: projectId }, 
                    success: function (data) {
                        $('#commonDisplayArea').html(data);
                    },
                    error: function () {
                    }
                });
            });

            $(document).on('click', '.dashboard-link', function (e) {
                e.preventDefault();

                $('.dashboard-link').removeClass('active');

                $(this).addClass('active');

                $('.dashboard-link').css('background-color', 'black');
                $('.dashboard-link').css('color', 'white');

                $(this).css('background-color', 'white');
                $(this).css('color', 'black');

                var linkId = $(this).attr('id');
                switch (linkId) {
                    case 'profileLink':
                        break;
                    case 'managersLink':
                        break;
                    case 'addProjectLink':
                        $('#commonDisplayArea').load("/AdminDashboard/AddProjectFormPartial");
                        break;
                    case 'assignProjectLink':
                        break;
                }
            });
        });
    </script>
}
